body {
    margin: 10px;
    width: 450px;
    font-family: 'Roboto', serif;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
    font-weight: 700;
    display: inline;
    color: black;
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
    display: inline;
    color: black;
  }

  .blueText {
    color: blue;
    display: inline;
  }

  h4 {
    font-size: 14px;
    font-weight: 500;
    display: inline;
    color: black;
  }

  h5 {
    font-size: 14px;
    font-weight: 400;
    display: inline;
    color: dimgray;
  }

  h6 {
    font-size: 13px;
    display: inline;
    font-weight: 500;
  }


  #container {
    align-items: center;
    display: flex;
    justify-content: space-between;

  }

  .mdl-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    align-items: center;
  }

  .mdl-card__title {
    padding: 25px;
  }

  .mdl-card__actions {
      width: auto;
  }